{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Navyait Solutions!</title>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->
<!-- <link rel="stylesheet" href="css/styles.css"> -->
<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Ensure the path is correct -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>  

<div class="topnav">
  <img src="{% static 'imges/aaa.jpg' %}" alt="Logo" height="120px" width="200px">
  <a href="{% url 'content' %}">Contact Us</a> 
  <a href="{% url 'services' %}">Services</a>
  <a href="{% url 'about' %}">About Us</a>
  <a class="active" href="{% url 'logout' %}">Home</a>
</div>

{% block content %}
{% endblock %}



<div class="footer-section">  
    <div class="company-links">
        <h4>Company</h4>
        <ul>
            <li><a class="active" href="{% url 'logout' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'content' %}">Contact Us</a></li>
        </ul>
    </div>
</div>

<div class="footer-section">
    <div class="services">
        <h4>Services</h4>
        <ul>
            <li><a href="#">Python Projects</a></li>
            <li><a href="#">Data Science Projects(ML&DL)</a></li>
            <li><a href="#">VLSI Projects</a></li>
            <li><a href="#">Web Development Projects</a></li>
            <li><a href="#">Matlab Projects</a></li>
            <li><a href="#">Embedded Systems(Kit-Based)</a></li>
        </ul>
    </div>
</div>
<!-- WhatsApp Icon positioned at the bottom-right corner -->
<div class="whatsapp-icon" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
    <a href="https://wa.me/6281287253" target="_blank">
        <img src="{% static 'imges/whatsapp.png' %}" alt="WhatsApp" width="150" height="150" style="border-radius: 80%;"/>
    </a>
  </div>

<div class="office-hours">
    <h4>Office Hours</h4>
    <p>Morning: 9 AM to 6 PM,<br> Monday to Friday</p>
</div>
</footer>
<hr>
  <center>
    
    <p>© Copyright 2025 All Rights Reserved

      Designed by Navyait SOLUTIONS</p>
  </center>

<!-- <div class="footer-section">
    <p>© Copyright 2025 All Rights Reserved
        Designed by Navyait SOLUTIONS</p>
    
</div> -->
    

<!-- </body> -->
</html>
