{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <marquee>
        <h1 style="color: red;"><bold>Welcome to Navyait Solutions!</bold></h1>
    </marquee>
</div>
<div style="position: absolute; right: 20px; top: 180px; padding: 10px; border: 2px solid #000; border-radius: 20px;">
    <img src="{% static 'imges/navya.jpeg' %}" alt="Logo" height="350px" width="500px" style="display: block;">
</div>
<!-- <div> -->
    <p>
        <h1 style="color: red;">
            Welcome to Navyait Solutions
        </h1>
        <!-- <pre> -->
        <h4>
            Welcome to Navyait Solutions Pvt Ltd, your Premier IT Staffing and empowering <br>businesses through Innovative 
            IT Consulting Services.

        </h4>

       <h4>Navyait Solutions understands the difficulties businesses experience in locating skilled IT workers<br> and designing custom software solutions to fit their specific requirements. With our significant <br>
         experience and skills in IT staffing and software development, we provide comprehensive solutions<br>
           that are tailored to your specific needs.
       </h4>
 <h4>

 “At Navyait Solutions Pvt Ltd, we pride ourselves on our commitment to excellence and innovation.<br>
  Our team of seasoned professionals is dedicated to staying abreast of the <br>
 latest trends and technologies in the ever-evolving IT landscape. Whether you’re a startup<br>
   looking to build a  robust online presence or an established enterprise seeking<br>
   to streamline your IT operations, we have the expertise and resources to help you achieve your goals. 
</h4>
</body>
<br><br><br><br><br><br><br><br>

  <footer>
    <div class="footer-content">
      <div class="footer-section">
    <img src="{% static 'imges\amma1.jpg' %}" alt="Logo" height="60px" width="200px">

        <p>We provide innovative tools designed to simplify complex tasks and boost your productivity.</p>
        <address>
          Sai Tirumala Towers
62WQ+6P7, Ngo Colony, extension, Reddy Nagar,<br>          
Narasaraopeta, Andhra Pradesh 522601
        </address>
       
      </div>

{% endblock %}